<h1><%= @hello %></h1>
<ul>
  <h2>this is my skill</h2>
  <% @skill.each do |myskill| %>
    <li><%= myskill %></li>
  <% end %>
</ul>
<!DOCTYPE html>

<html>
<head>
  <title>Demo HTML button</title>
  <style>
      /* style untuk contoh 3 */
      button.button-gue{
          padding: 0;
          background:none;
          border: 0;
          cursor: pointer;
      }
      button.button-gue:hover {
          opacity: .8;
      }

      /* dul button. style untuk contoh 4 */
      .btn-dul{display:inline-block;margin:.1em;cursor:pointer;-webkit-transition:.4s;-moz-transition:.4s;-ms-transition:.4s;-o-transition:.4s;transition:.4s;vertical-align:middle;min-height:1em;padding:10px 13px;text-decoration:none;border-radius:2px;outline:0;border-style:solid;border-width:1px}.btn-dul-default{color:#555;background-color:#f7f7f7;border-color:#f2f2f2;text-shadow:0 1px 0 #fafafa}.btn-dul-default:hover{background-color:#f2f2f2;border-color:#ebebeb}.btn-dul-primary{color:#fff;background-color:#00a9df;border-color:#00a9df;text-shadow:0 1px 0 #a3a3a3}.btn-dul-primary:hover{color:#fff;background-color:#009acb;border-color:#009acb}.btn-dul-info{background:#5ec8ff;color:#FFF;border-color:#44bfff}.btn-dul-info:hover{background:#2ab6ff;color:#FFF;border-color:#00a1f6}.btn-dul-success{color:#fff;background-color:#8dc838;border-color:#8dc838}.btn-dul-success:hover{color:#fff;background-color:#7fb532;border-color:#7fb532}.btn-dul-warning{color:#fff;background-color:#fcca03;border-color:#fcca03}.btn-dul-warning:hover{color:#fff;background-color:#fcb603;border-color:#fcb603}.btn-dul-danger{color:#fff;background-color:#dd1812;border-color:#dd1812}.btn-dul-danger:hover{color:#fff;background-color:#c90e08;border-color:#c90e08}.btn-dul-clean{color:#6f6f6f;background-color:white;border-color:#ccc}.btn-dul-clean:hover{color:#00a9df;border-color:#00a9df}
  </style>
</head>
<body>
<!-- script untuk contoh 2 -->
<script>
    function jalankanScript() {
        alert('Hallo Sobat!')
    }
</script>

<h3>about me</h3>
<hr>
<button class="btn-dul btn-dul-primary"onclick="alert('ruby fundamental,' + 'HTML, and ' + 'node.js')">
  Programming language
</button>
<button class="btn-dul btn-dul-success"onclick="alert('Hello, My name is Mark prima nabil akbar, nice to meet you')">
  My Profile
</button>
<button class="btn-dul btn-dul-info"onclick="alert('089700989986')">
  Contact
</button>
</body>
</html>

