<!-- 4 heading levels: -->
<h1>This is my first project in HTML</h1>
  <h2>Semarang __________</h2>
    <h3>monday, 22 august 2022</h3>
<p> </p>
<p>Hello world
  my name is <strong>mark prima nabil akbar</strong>
  i'm from magelang, Jawa Tengah, Indonesia
  this is a first page from the website</p>
<p>this is my first time to update a local web</p>
        <li>so you can comment all my code on my repository</li>
<p></p>
<img src="lib/assets/pexels-karl-solano-2883049.jpg" alt="profile image">

<p>this is my skill</p>
<p> </p>
<ul>
  <li>ruby on rails fundamental</li>
  <li>HTML</li>
</ul>
<p> </p>
<button type="button"onclick="alert('ruby fundamental,' + 'HTML, and ' + 'node.js')">My skill</button>
<button type="button" onclick="alert('Hello, My name is Mark Prima Nabil Akbar.' +
  ' And you can call me Prime')">My Profile</button>
<h1><%= @title %></h1>
<ul>
  <% @language.each do |language| %>
    <li><%= language %></li>
  <% end %>
</ul>

